@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap');
//card colors
$work: hsl(15, 100%, 70%) ;
$play: hsl(195, 74%, 62%) ;
$study: hsl(348, 100%, 68%) ;
$exercise: hsl(145, 58%, 55%) ;
$social: hsl(264, 64%, 52%); 
$selfCare: hsl(43, 84%, 65%);
//other colors
$Blue: hsl(246, 80%, 60%);
$Very-dark-blue: hsl(226, 43%, 10%) ;
$Dark-blue: hsl(235, 46%, 20%) ;
$Desaturated-blue: hsl(235, 45%, 61%) ;
$Pale-Blue: hsl(236, 100%, 87%);
@mixin desktop {
    @media screen and (min-width:1024px) {
        @content;
    }
}
*{
    font-family: 'Rubik', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 transition: all 250ms;
}

body{
    min-height: 100vh;
    background-color: $Very-dark-blue;
    color: white;
    @include desktop{
        height: 100vh;
    }
}
main{
    height: 100%;
    display: flex;
   justify-content: center;
   padding-block: 5rem;
   padding-inline: 2rem;
}
.content{
    display: grid;
    gap: 2rem;
    @include desktop{
        grid-template-columns: repeat(4,1fr);
        width: 80%;
        gap: 1rem;
    }
}

.profile{
border-radius: 10px;
background-color: $Dark-blue;
@include desktop{
    grid-row: 1/span 2;
}
    &--basic{
        border-radius: 10px;
        background-color: $Blue;
        display: grid;
        grid-template-columns: 1fr 2fr;
        align-items: center;
        padding: 2rem;
        gap: 1rem;
       @include desktop{
        display: flex!important;
        flex-direction: column;
        align-items: flex-start;
       }
    }
    &--picture{
border: 3px solid white;
border-radius: 50%;
@include desktop{
    height: 80px;
    width: 80px;
}
        img{
            height: 100%;
            width: 100%;
            border-radius: 50%;
          
        }
    }

    &--report{
        font-size: 1rem;
        margin-bottom: 1rem;
        font-weight: 300;
        color: $Pale-Blue;
    }
    &--name{
        font-size: 1.25rem;
        font-weight: 300;
        @include desktop{
            font-size: 2rem;
        }
    }
  &--modes{
    display: flex;
    padding: 1rem;
    justify-content: center;
    gap: 2rem;
    @include desktop{
        flex-direction: column;
      align-items: flex-start;
      justify-content: space-between;
        height: max-content;
        gap: 1rem;
    }
  }
  &--mode{
    text-transform: capitalize;
    background-color: transparent;
    color: $Desaturated-blue;
    border: none;
    outline: none;
    font-size: 18px;
    cursor: pointer;
    &:hover,&:focus{
        color: white;
    }
   }
}

.card{
    border-radius: 15px;
 background-position: 95% 10%;
 background-repeat: no-repeat;
 background-size: 20%;
 padding-top: 3rem;
 @include desktop{
    padding-top: 2rem;
    background-position: 95% 0%;
    background-size: 25%;

 }
 &--info{
    cursor: pointer;
    background-color: $Dark-blue;
    border-radius: 15px;
    padding: 1rem;
    padding-bottom: 2rem;
    &:hover,&:focus{
        background-color: lighten($color: $Dark-blue, $amount: 5%);
    }
    @include desktop{
        padding:1rem;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
 }
 &--infoType{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
    align-items: center;
 }
 &--hours{
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include desktop{
        flex-direction: column;
        align-items: flex-start;
        gap: 1rem;
    }
 }
 &--heading{
    font-size: 18px;
    font-weight: 300;
 }
 &--current{
    font-size: 2rem;
    font-weight: 300;
    @include desktop{
        font-size: 2.5rem;
    }
  
 }
 &--previous{
    color: $Pale-Blue;
 }

}
#play{
    background-color: $play;
    background-image: url('/images/icon-play.svg');
}
#work{
    background-color: $work;
    background-image: url('/images/icon-work.svg');
}
#exercise{
    background-color: $exercise;
    background-image: url('/images/icon-exercise.svg');
}
#study{
    background-color: $study;
    background-image: url('/images/icon-study.svg');
}
#social{
    background-color: $social;
    background-image: url('/images/icon-social.svg');
}
#self-care{
    background-color: $selfCare;
    background-image: url('/images/icon-self-care.svg');
}
.active{
    color: white!important;
}